name: Publish

on:
  push:
    branches:
      - x

permissions:
  contents: write
  issues: write
  packages: write
  pull-requests: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: |
            package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

  release:
    runs-on: ubuntu-latest
    needs: [build]
    outputs:
      release_version: ${{ steps.release.outputs.release_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: |
            package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Load secrets from 1Password
        id: load_secrets
        uses: 1password/load-secrets-action@v3
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          GITHUB_TOKEN: op://cicd_dankeboy36/GITHUB_TOKEN/credential
          NPM_TOKEN: op://cicd_dankeboy36/NPM_TOKEN/credential

      - name: Release
        id: release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ steps.load_secrets.outputs.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ steps.load_secrets.outputs.NPM_TOKEN }}
